@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  font-size: 18px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: 700;
}

p,li {
    font-weight: 500;
}
