@import "./variables.scss";
@import "./mixins.scss";

.shorten {
  width: 80%;
  margin: auto;

  transform: translateY(-60px);

  .form {
    height: 120px;

    padding: 0 50px;
    background: url("/images/bg-shorten-desktop.svg");
    background-color: $dark-violet;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-group {
      position: relative;
      width: 80%;

      .short-link {
        position: relative;
        width: 100%;
        border-radius: 5px;
        padding: 12px 20px;
        border: 2px solid #fff;
        outline: none;
        color: $very-dark-violet;
        background: #fff;

        transition: all 0.2s ease-in-out;

        &.danger {
          border-color: $red;

          &::placeholder {
            color: $red;
          }
        }
      }

      .tip {
        display: none;
        position: absolute;
        color: $red;
        font-size: 0.7em;
        bottom: -25px;
      }
    }

    .short-btn {
      @include primary-btn;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 12px 20px;
    }
  }

  .shorted-links {
    display: flex;
    flex-direction: column;

    .shorted-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #fff;
      margin: 10px 0;
      padding: 20px 30px;
      border-radius: 5px;

      .info {
        display: flex;
        justify-content: space-between;
        width: 90%;


        .shorted-url {
            color: $cyan;
            text-decoration: none;
            font-weight: 500;
        }
      }

      .copy {
          @include primary-btn;
          margin: 0 20px;
          border: none;
          border-radius: 5px;
      }
    }
  }
}
